@charset "utf-8";

/* reset */
* {margin: 0;padding: 0; font-family: 'Permanent Marker', cursive;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
/*header*/
header{ width: 100vw; height: 30px; position: relative;}
header .open{ position: fixed; right: 5%; font-size: 50px; font-weight: bold; cursor: pointer; display: block; width: 50px; height: 50px; z-index: 1;}
header .close{ display: none;}
header .bg{ position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100vh; background: rgba(0,0,0,0.6); z-index: 2; display: none;}
header nav{ position: absolute; background: #fff; width: 0%; height: 100vh; overflow: hidden; right: 0; top: 0; transition: width 0.3s; z-index: 2;}
header nav.on{ width: 70%; max-width: 300px;}
header nav .close{ display: block; position: absolute; font-size: 40px; padding-top: 5px; box-sizing: border-box; top: 0px; right: 3%; z-index: 100;}
header nav .gnb{ margin-top: 100px;}
header nav .gnb li{ display: block; width: 100%; margin: 0; line-height: 60px; transition: all .8s;}
header nav .gnb li a{width: 100%; font-size: 30px; padding-left: 30px; box-sizing: border-box;}
header nav .gnb li:hover{ background: #add174;}
header nav .gnb li a:after{ display: none;}

/*main*/
.main{ width: 100%; height: 1080px; position: relative;}
.main h2{ position: absolute; left: 45%; transform: translateX(-50%); z-index: 1; top: 11%; font-size: 120px; color: #fff76a; text-align: center; line-height: .9; text-shadow: 10px 10px 10px #111, 9px 9px 9px #000;}  
.main img{ position: absolute; top: -150px; height: 100%; width: 100%; object-fit: cover;}
.main h2.motion{ animation: opacity-ani .7s;}
.main h2.motion span{ animation: opacity-ani 1.7s;}
.main .mainTxt{ position: absolute; top: 50%; left: 10%; font-size: 3em;}
.main .mainTxt ul{ display: flex;}
.main .mainTxt ul li{ margin-right: 60px; position: relative;}
.main .mainTxt.motion ul li:nth-child(1) {animation: up .6s;}
.main .mainTxt.motion ul li:nth-child(2) {animation: up 1s;}
.main .mainTxt.motion ul li:nth-child(3) {animation: up 1.4s;}
.main .mainTxt.motion ul li:nth-child(1) h3:after{content: ""; width: 80%; height: 30px; position: absolute; left: 30%; bottom: 0; background: #ec524b; z-index: -1; animation: slideleft2 1s}
.main .mainTxt.motion ul li:nth-child(2) h3:after{content: ""; width: 80%; height: 30px; position: absolute; left: 30%; bottom: 0; background: #0278ae; z-index: -1; animation: slideleft2 1.4s}
.main .mainTxt.motion ul li:nth-child(3) h3:after{content: ""; width: 80%; height: 30px; position: absolute; left: 30%; bottom: 0; background: #ffe05d; z-index: -1; animation: slideleft2 1.8s}

/*about*/
.about{ width: 100%; height: 628px; position: relative; margin: 0 auto;}
.about .aboutCon{ width: 1200px; height: 100%; margin: auto;}
.about .aboutCon .left{ width: 35%;  text-align: center; }
.about .aboutCon.motion .left h2{font-size: 3em; position: relative; display: block; z-index: 1; animation: slideleft 1s;}
.about .aboutCon.motion .left h2:after{ content: ""; width: 50%; height: 25px; background: #bfd49e; position: absolute; bottom: 0; left: 45%; z-index: -1; animation: slideleft2 2s;}
.about .aboutCon .left img{ width: 378px; height: 504px; border-radius: 20px; margin-top: 80px;}
.about .aboutCon .right{ width: 65%; display: block;height: 100%; position: absolute; right: 0; top: 5%;}
.about .aboutCon .right ul{ position: absolute; bottom: 0; margin-left: 12%;}
.about .aboutCon .right ul li{ padding-top: 30px;}
.about .aboutCon.motion .right ul li h3{ display: inline-block; width: 155px; font-size: 28px; animation: slideleft 1.5s;}
.about .aboutCon.motion .right ul li .skillButton{ display: inline-block;}
.about .aboutCon.motion .right ul li span{ font-size: 24px; margin-left: 35px; animation: up 2.2s; display: block; position: relative;}
.about .aboutCon .right ul li span:before{ content: ""; width: 15px; height: 15px; border-radius: 50%; background: #bfd49e; position: absolute; left: -20px; top: 50%; transform: translateY(-50%);}


/*project*/
.project .projectCon{width: 100%; height: 940px; position: relative; margin: 150px auto 50px; background: #ffce89;}
.project .projectCon.motion h2{ padding-top: 65px; font-size: 3em; text-align: center; position: relative; animation: up 1s;}
.project .projectCon.motion h2:after{ content: ""; width:  10%; height: 10px; background: #bfd49e; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); animation: slideleft2 1.2s;}
.project .projectCon ul{width: 1200px; margin: 80px auto 20px; height: 100%; position: relative;}
.project .projectCon ul li{ width: 390px; height: 300px; float: left; padding: 15px; box-sizing: border-box; position: relative; transition:all .6s; cursor: pointer;} 
.project .projectCon ul li .projectBox{ width: 100%; height: 100%; position: absolute; overflow: hidden;  text-align: center;}
.project .projectCon ul li:hover .projectBox img{ opacity: 0;}
.project .projectCon ul li .projectBox img{ position: absolute; left: 0; top: 0; object-fit: cover; width: 100%; height: 100%; transition: all .5s;}
.project .projectCon ul li .projectBox > div a{ display: block; width: 200px; height: 40px; border:2px solid #ec524b; position: absolute; bottom: -20%; line-height: 40px; left: 50%; transform: translateX(-50%); text-align: center; transition: all .5s;}
.project .projectCon ul li:hover .projectBox > div a{ bottom: 20%;}
.project .projectCon ul li .projectBox > div a:hover{ bottom: 20%; background: #ec524b; color: #fff;}
.project .projectCon ul li img{ width: 378px; height: 201px; object-fit: cover;}
.project .projectCon ul li h3{ width: 100%; height: 50px; top: -20%; position: absolute; padding:5px 0 5px 0!important; box-sizing: border-box; color: #000; font-size: 20px; transition: all .5s; left: -1px!important;}
.project .projectCon ul li:hover h3{  top: 20%; }
.project .projectCon ul li p{ color: rgb(61, 61, 61); font-size: 15px; position: absolute; top: -35%; transition: all .5s; color: #ec524b; width: 100%; margin: 0 auto;} 
.project .projectCon ul li:hover p{ top: 33%;} 
.project .projectCon.motion ul li:nth-child(1){animation: up 1s;}
.project .projectCon.motion ul li:nth-child(2){animation: up 1.3s;}
.project .projectCon.motion ul li:nth-child(3){animation: up 1.6s;}
.project .projectCon.motion ul li:nth-child(4){animation: up 1.9s;}
.project .projectCon.motion ul li:nth-child(5){animation: up 2.1s;}
.project .projectCon.motion ul li:nth-child(6){animation: up 2.4s;}


/*footer*/
footer .fTop{ width: 100%; height: 100%; position: relative;  text-align: center;}
footer .fTop h2{font-size: 3em; padding-top: 30px; position: relative;}
footer .fTop h2:after{ content: ""; width: 10%; height: 10px; background: #bfd49e; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); animation: slideleft2 1.2s;}
footer .fTop .fImg{ margin-top: 22px;}
footer .fTop .fImg img{ padding: 0 10px 0; transition: all .5s;}
footer .fTop .fImg a:hover img{ transform: scale(1.6);}
footer .fTop .fTxt{ margin-top: 22px; font-weight: 100;}
footer .fTop .fTxt h3{ font-weight: 100; font-size: 20px;}
footer .fTop .fTxt > div{ font-weight: 700; font-size: .9em; margin-top: 30px; color: rgb(54, 54, 54); letter-spacing: .7px; line-height: 1.5; padding-bottom: 50px; position: relative;}
footer .fTop .fTxt > div h4{ font-size: .5em; left: 50%; transform: translateX(-50%); position: absolute; color:  #3b3b3b;  bottom: 0;}
footer .fTop .fTxt > div h4 > span{ position: relative; padding-bottom: 20px; letter-spacing: -1px;}


/*modal*/
.aboutModal.motion{ border: none; background: none;outline: none; bottom: 0; font-size: 1.5em; animation: up 1s; text-shadow: 1px 1px 1px rgba(0,0,0,.23);}
.aboutModal a{transition: all .5s; color: #fff76a; }
.aboutModal a:hover{ color: salmon;}
.closeModal{ cursor: pointer; position: fixed; right: 5%; top: 50px; font-size: 30px; line-height: 50px;}
.modal{ position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
.modal_overlay{ background: rgba(0,0,0,0.6); width: 100%; height: 100%; position: absolute; z-index: 1;}
.modal_content{ background: #ffffff; padding: 50px; text-align: center; position: absolute;  top: 0; right: 0; border-radius: 10px; box-shadow: 0 10px 20px rgba(0,0,0,.23); width: 48%; height: 100%; z-index: 1; animation: modalDown .8s;}
.modal_content h1{ font-size: 40px;}
.modal_content ul{position: absolute; top: 18%; left: 0; margin: 0; padding: 0;}
.modal_content ul li{ font-size: 20px; display: flex; width: 44vw; line-height: 30px;}
.modal_content ul li h2{ width: 200px; text-align: left;}
.modal_content ul li .bar{ width: 100%; background: #ddd; right: 0; top: 0; box-shadow: 5px 5px 10px rgba(0,0,0,.23); position: relative;}
.modal_content ul li:nth-child(1) .barfill{ width: 85%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.modal_content ul li:nth-child(2) .barfill{ width: 85%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.modal_content ul li:nth-child(3) .barfill{ width: 60%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.modal_content ul li:nth-child(4) .barfill{ width: 40%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.modal_content ul li:nth-child(5) .barfill{ width: 40%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.modal_content ul li:nth-child(6) .barfill{ width: 65%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.modal_content ul li:nth-child(7) .barfill{ width: 75%; height: 30px; background:  #fff76a; animation: width-ani 2s ease-in-out;}
.hidden{ display: none!important;}

/*animation*/
@keyframes up{
    0%{opacity: 0;}
   50%{opacity: 0; transform: translateY(40px);}
}
@keyframes modalDown{
    0%{opacity: 0;}
    50%{opacity: 0; transform: translateY(-100%);}

}
@keyframes up2{
    0%{opacity: 0;}
   50%{opacity: 0; transform: translateX(-50%);}
}
@keyframes opacity-ani {
    0%{opacity: 0;}
    30%{opacity: 0;}
}

@keyframes slideleft2{
    0%{opacity: 0;}
    60%{opacity: 0; width: 0;}
}
@keyframes slideleft{
    0%{opacity: 0;}
    40%{opacity: 0; transform: translateX(-150px);}
}
@keyframes down{
    0%{opacity: 0;}
    20%{opacity: 0; top: 57%;}
}
@keyframes down2{
    0%{opacity: 0;}
    20%{opacity: 0; bottom: -13%;}
}
@keyframes down3{
    0%{opacity: 0;}
    20%{opacity: 0; bottom: 1%;}
}
@keyframes width-ani{
    0%{width: 1%;}
    40%{width: 1%;}
}


@media screen and (max-width: 1200px){
    .project .projectCon{ margin: 80px 0 20px 0; height: 1000px; width: 100%; }
    .project .projectCon ul{ width: 800px; height: 500px; }
    .project .projectCon ul li img{ width: 100%;}
    .project .projectCon ul li h3 { width: 100%; bottom: 10px; font-size: 14px; left: 2%; padding-left: 10px;}
    .project .projectCon ul li h3 p{ font-size: 12px;}


}
@media screen and (max-width: 1023px){
    .main{ height: 860px;}
    .main h2{ font-size: 80px; top: 7%;}
    .main img{ width: 100%; height: 100%;}
    .main .mainTxt{font-size: 40px;}

    .about .aboutCon .left{ text-align: left; margin-left: 2%;}
    .about .aboutCon.motion .left h2{font-size: 30px;  left: 12%;}
    .about .aboutCon.motion .left h2:after{ height: 15px; width: 30%; left: 12%;}
    .about .aboutCon .left img{ width: 278px; height: 404px; left: 0;}
    .about .aboutCon .right { top: -15%;}
    .about .aboutCon.motion .right ul li h3 {font-size: 24px;}
    .about .aboutCon.motion .right ul li span { font-size: 20px;}
    .modal_content ul li{ font-size: 15px; display: flex;}
    .modal_content ul li h2{ width: 200px; text-align: left;}

   
    footer .fTop{height: 200px;}
    footer .fTop .fImg{ margin-top: 10px;}
    footer .fTop .fImg img{ padding: 0 5px 0;}
    footer .fTop .fTxt{ margin-top: 10px;}
    footer .fTop .fTxt h3{font-size: 16px;}

    footer .fBtm{height: 100px;}
    footer .fBtm.motion h2{ font-size: 20px;}
    footer .fBtm h2 span{ font-size: 16px;}
}

@media screen and (max-width: 830px){

    .project .projectCon{ height: 1400px;}
    .project .projectCon ul {margin: 30px 0 0 0; padding: 0; width: 100%;}
    .project .projectCon ul li{ width: 60%; position: relative; height: 55%;left: 50%; transform: translateX(-50%);}
}
@media screen and (max-width: 767px){
    .main{ height: 740px;}
    .main h2{ font-size: 50px; top: 9%;}
    .main img{ width: 100%; height: 100%;}
    .main .mainTxt{display: none;}
    
    .about .aboutCon .left{ width: 100vw; margin: 0; text-align: center; position: relative;}
    .about .aboutCon.motion .left h2{font-size: 50px; position: absolute; width: 100%; text-align: center; left: 0; top: -50px;}
    .about .aboutCon.motion .left h2:after{ height: 35px; width: 30%; left: 45%;}
    .about .aboutCon .left img{ width: 200px; height: 250px; left: 0;}
    .about .aboutCon .right { position: relative;}
    .about .aboutCon.motion .right ul{top: 15%; text-align: center; margin: 0; width: 100vw;}
    .about .aboutCon.motion .right ul li h3 {font-size: 18px;}
    .about .aboutCon.motion .right ul li:hover h3{ opacity: 1;}
    .about .aboutCon.motion .right ul li{ padding-top: 15px;}
    .about .aboutCon.motion .right ul li span { font-size: 18px; margin: 0; margin-top: 5px;}
    .about .aboutCon.motion .right ul li .skillButton{ display: block;}
    .about .aboutCon.motion .right ul li button { font-size: 18px; margin: 0; display: block; left: 50%; transform: translateX(-50%); position: absolute; top: 24%;}
    .about .aboutCon.motion .right ul li span:before{ display: none;}
    
    .modal_content ul li{ font-size: .8em; display: flex; width: 54vw}
    .modal_content ul li h2{ width: 200px; text-align: left; margin-left: 10%;}


    footer .fBtm.motion h2{ font-size: 14px; width: 100vw;}
    footer .fBtm h2 span{ font-size: 14px;}

}