@charset "utf-8";

/* reset */
* {margin: 0;padding: 0; font-family: 'Permanent Marker', cursive;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
/*header*/
header{ width: 100vw; height: 30px; position: relative;}
header .open{ position: fixed; right: 2%; font-size: 50px; font-weight: bold; cursor: pointer; display: block; width: 50px; height: 50px; z-index: 1000;}
header .close{ display: none;}
header .bg{ position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100vh; background: rgba(0,0,0,0.6); z-index: 200; display: none;}
header nav{ position: absolute; background: #fff; width: 0%; height: 100vh; overflow: hidden; right: 0; top: 0; transition: width 0.3s; z-index: 300;}
header nav.on{ width: 70%; max-width: 300px;}
header nav .close{ display: block; position: absolute; font-size: 40px; padding-top: 5px; box-sizing: border-box; top: 0px; right: 3%}
header nav .gnb{ margin-top: 100px;}
header nav .gnb li{ display: block; width: 100%; margin: 0; line-height: 60px; transition: all .8s;}
header nav .gnb li a{width: 100%; font-size: 30px; padding-left: 30px; box-sizing: border-box;}
header nav .gnb li:hover{ background: #add174;}
header nav .gnb li a:after{ display: none;}

/*main*/
.main{ width: 100%; height: 1080px; position: relative;}
.main h2{ position: absolute; left: 45%; transform: translateX(-50%); z-index: 100; top: 11%; font-size: 120px; color: #fff76a; text-align: center; line-height: .9; text-shadow: 10px 10px 10px #111, 9px 9px 9px #000;}  
.main img{ position: absolute; top: -150px; height: 100%; width: 100%; object-fit: cover;}
.main h2.motion{ animation: opacity-ani .7s;}
.main h2.motion span{ animation: opacity-ani 1.7s;}
.main .mainTxt{ position: absolute; top: 50%; left: 10%; font-size: 3em;}
.main .mainTxt ul{ display: flex;}
.main .mainTxt ul li{ margin-right: 60px; position: relative;}
.main .mainTxt.motion ul li:nth-child(1) {animation: up .6s;}
.main .mainTxt.motion ul li:nth-child(2) {animation: up 1s;}
.main .mainTxt.motion ul li:nth-child(3) {animation: up 1.4s;}
.main .mainTxt.motion ul li:nth-child(1) h3:after{content: ""; width: 80%; height: 30px; position: absolute; left: 30%; bottom: 0; background: #ec524b; z-index: -1; animation: slideleft2 1s}
.main .mainTxt.motion ul li:nth-child(2) h3:after{content: ""; width: 80%; height: 30px; position: absolute; left: 30%; bottom: 0; background: #0278ae; z-index: -1; animation: slideleft2 1.4s}
.main .mainTxt.motion ul li:nth-child(3) h3:after{content: ""; width: 80%; height: 30px; position: absolute; left: 30%; bottom: 0; background: #ffe05d; z-index: -1; animation: slideleft2 1.8s}

/*about*/
.about{ width: 100%; height: 628px; position: relative; margin: 0 auto;}
.about .aboutCon{ width: 1200px; height: 100%; margin: auto;}
.about .aboutCon .left{ width: 35%;  text-align: center; }
.about .aboutCon.motion .left h2{font-size: 50px; position: relative; display: block; z-index: 2; animation: slideleft 1s;}
.about .aboutCon.motion .left h2:after{ content: ""; width: 50%; height: 25px; background: #bfd49e; position: absolute; bottom: 0; left: 45%; z-index: -1; animation: slideleft2 2s;}
.about .aboutCon .left img{ width: 378px; height: 504px; border-radius: 20px; margin-top: 80px;}
.about .aboutCon .right{ width: 65%; display: block;height: 100%; position: absolute; right: 0; top: 5%;}
.about .aboutCon .right ul{ position: absolute; bottom: 0; margin-left: 12%;}
.about .aboutCon .right ul li{ padding-top: 30px;}
.about .aboutCon.motion .right ul li h3{ display: inline-block; width: 155px; font-size: 28px; animation: slideleft 1.5s;}
.about .aboutCon.motion .right ul li span{ font-size: 24px; margin-left: 35px; animation: up 2.2s; display: block; position: relative;}
.about .aboutCon .right ul li span:before{ content: ""; width: 15px; height: 15px; border-radius: 50%; background: #bfd49e; position: absolute; left: -20px; top: 50%; transform: translateY(-50%);}

/*project*/
.project .projectCon{width: 100%; height: 760px; position: relative; margin: 150px auto 50px; background: #ffce89; z-index: 1;}
.project .projectCon.motion h2{ padding-top: 65px; font-size: 50px; text-align: center; position: relative; animation: up 1s;}
.project .projectCon.motion h2:after{ content: ""; width: 20%; height: 25px; background: #bfd49e; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: -1; animation: slideleft2 1.2s;}
.project .projectCon ul{width: 1200px; margin: 0px auto 20px; height: 100%; position: relative;}
.project .projectCon ul li{ width: 400px; height: 278px; float: left; padding: 15px; box-sizing: border-box; position: relative; transition:all .6s; cursor: pointer;} 
.project .projectCon ul li > div{ position: absolute; width: 380px; height: 95%; background: rgba(0,0,0,.3); top: 50%;transform: translateY(-50%); text-align: center; opacity: 0; transition: all .5s; cursor: pointer;}
.project .projectCon ul li > div:hover{ opacity: 1;}
.project .projectCon ul li > div img{ width: 90px; height: 90px; top: 50%; left: 50%; transform: translate(-50%,-50%); position: absolute;}
.project .projectCon ul li:hover{ transform: scale(1.2); z-index: 10;}
.project .projectCon ul li:hover h3, .project .projectCon ul li:hover p{color: #fff;}
.project .projectCon ul li img{ width: 378px; height: 201px; object-fit: cover;}
.project .projectCon ul li h3{ width: 370px; height: 50px; bottom: 2px; position: absolute; padding:5px 0 5px 0; box-sizing: border-box; color: #000;}
.project .projectCon ul li p{ color: rgb(61, 61, 61); font-weight: normal; font-size: 15px;}
.project .projectCon.motion ul li:nth-child(1){animation: up 2.5s;}
.project .projectCon.motion ul li:nth-child(2){animation: up 3s;}
.project .projectCon.motion ul li:nth-child(3){animation: up 3.5s;}
.project .projectCon.motion ul li:nth-child(4){animation: up 4s;}
.project .projectCon.motion ul li:nth-child(5){animation: up 4.5s;}
.project .projectCon.motion ul li:nth-child(6){animation: up 5s;}


/*footer*/
footer .fTop{ width: 100%; height: 300px; position: relative;  text-align: center; }
footer .fTop h2{ font-size: 30px; padding-top: 30px; position: relative;}
footer .fTop .fImg{ margin-top: 22px;}
footer .fTop .fImg img{ padding: 0 10px 0; transition: all .5s;}
footer .fTop .fImg a:hover img{ transform: scale(1.6);}
footer .fTop .fTxt{ margin-top: 22px; font-weight: 100;}
footer .fTop .fTxt h3{ font-weight: 100; font-size: 20px;}
footer .fBtm{ width: 100%; height: 200px; position: relative; background: #bfd49e; text-align: center;}
footer .fBtm.motion h2{ font-size: 30px;  top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; color:  #fff76a; animation: up2 1s;}
footer .fBtm h2 span{ font-size: 26px; font-weight: 100; color: #efefef}
/*animation*/
@keyframes up{
    0%{opacity: 0;}
   50%{opacity: 0; transform: translateY(40px);}
}
@keyframes up2{
    0%{opacity: 0;}
   50%{opacity: 0; transform: translateX(-50%);}
}
@keyframes opacity-ani {
    0%{opacity: 0;}
    30%{opacity: 0;}
}

@keyframes slideleft2{
    0%{opacity: 0;}
    60%{opacity: 0; width: 0;}
}
@keyframes slideleft{
    0%{opacity: 0;}
    40%{opacity: 0; transform: translateX(-150px);}
}
@keyframes down{
    0%{opacity: 0;}
    20%{opacity: 0; top: 57%;}
}
@keyframes down2{
    0%{opacity: 0;}
    20%{opacity: 0; bottom: -13%;}
}
@keyframes down3{
    0%{opacity: 0;}
    20%{opacity: 0; bottom: 1%;}
}

@media screen and (max-width: 1023px){
    .main{ height: 860px;}
    .main h2{ font-size: 80px; top: 7%;}
    .main img{ width: 100%; height: 100%;}
    .main .mainTxt{font-size: 40px;}

    .about .aboutCon .left{ text-align: left; margin-left: 2%;}
    .about .aboutCon.motion .left h2{font-size: 30px;  left: 12%;}
    .about .aboutCon.motion .left h2:after{ height: 15px; width: 30%; left: 12%;}
    .about .aboutCon .left img{ width: 278px; height: 404px; left: 0;}
    .about .aboutCon .right { top: -15%;}
    .about .aboutCon.motion .right ul li h3 {font-size: 24px;}
    .about .aboutCon.motion .right ul li span { font-size: 20px;}

    .project .projectCon{ margin: 80px 0 20px 0;}
    .project .projectCon ul{ width: 100%; height: 500px;}
    .project .projectCon ul li img{ width: 100%;}
    .project .projectCon ul li h3 { width: 100%; bottom: 10px; font-size: 14px; left: 2%; padding-left: 10px;}
    .project .projectCon ul li h3 p{ font-size: 12px;}

    footer .fTop{height: 200px;}
    footer .fTop h2{ font-size: 20px;}
    footer .fTop .fImg{ margin-top: 10px;}
    footer .fTop .fImg img{ padding: 0 5px 0;}
    footer .fTop .fTxt{ margin-top: 10px;}
    footer .fTop .fTxt h3{font-size: 16px;}
    footer .fBtm{height: 100px;}
    footer .fBtm.motion h2{ font-size: 20px;}
    footer .fBtm h2 span{ font-size: 16px;}
}
@media screen and (max-width: 767px){
    .main{ height: 740px;}
    .main h2{ font-size: 50px; top: 9%;}
    .main img{ width: 100%; height: 100%;}
    .main .mainTxt{display: none;}
    
    .about .aboutCon .left{ width: 100vw; margin: 0; text-align: center; position: relative;}
    .about .aboutCon.motion .left h2{font-size: 30px; position: absolute; width: 100%; text-align: center; left: 0;}
    .about .aboutCon.motion .left h2:after{ height: 15px; width: 30%; left: 45%;}
    .about .aboutCon .left img{ width: 200px; height: 250px; left: 0;}
    .about .aboutCon .right { position: relative;}
    .about .aboutCon.motion .right ul{top: 15%; text-align: center; margin: 0; width: 100vw;}
    .about .aboutCon.motion .right ul li h3 {font-size: 18px;}
    .about .aboutCon.motion .right ul li:hover h3{ opacity: 1;}
    .about .aboutCon.motion .right ul li{ padding-top: 15px;}
    .about .aboutCon.motion .right ul li span { font-size: 14px; margin: 0;}
    .about .aboutCon.motion .right ul li span:before{ display: none;}

    .project .projectCon{ height: 940px;}
    .project .projectCon ul{ display: flex; flex-wrap: wrap;}
    .project .projectCon ul li{ width: 50%; position: relative; height: 250px; margin-top: 0;}
    .project .projectCon ul li h3{display: none;}

    footer .fBtm.motion h2{ font-size: 18px; width: 100vw;}
    footer .fBtm h2 span{ font-size: 14px;}

}